/SN15095.conf
/build
/crestereo_iter5.onnx
/light_ess.onnx
/raftstereo_middle.onnx
/raftstereo_realtime.onnx
/depthai
/oak_session
/log
/.cache
*.pt
*.onnx
/rosbag2_*
/install
/ai
yolov8s.pt
/src/EuropeanGreenCrabDetection
/test
/tools/rtabmap_tuning/bags